@import "abstracts/variables";

button {
  cursor: pointer;
}

.btn {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 16px;
  min-width: 18rem;
}

.primary-btn {
  @extend .btn;
  background-color: $primary-color;
  color: $font-color-light;

  &:hover {
    background-color: $primary-color;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $ld) {
  .primary-btn {
    &:hover {
      transition: ease-in-out 0.2s;
      background-color: $hover-color;
    }
  }
}
