<div class="image-slider">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide
      ><div class="slide">
        <img src="/assets/images/art-preview-abstract-1.jpg" alt="" /></div
    ></ng-template>
    <ng-template swiperSlide
      ><div class="slide">
        <img src="/assets/images/art-preview-abstract-1.jpg" alt="" /></div
    ></ng-template>
    <ng-template swiperSlide
      ><div class="slide">
        <img src="/assets/images/art-preview-abstract-1.jpg" alt="" /></div
    ></ng-template>
    <ng-template swiperSlide
      ><div class="slide">
        <img src="/assets/images/art-preview-abstract-1.jpg" alt="" /></div
    ></ng-template>
  </swiper>
</div>
