<div class="modal-overlay">
  <div class="modal">
    <h2 class="section-header">Choose style</h2>
    <button class="close-btn" (click)="closeModal()">
      <img src="assets/icons/close.svg" alt="burger menu" />
    </button>
    <div class="style">
      <img src="/assets/images/watercolor-style.jpg" alt="" />
      <h3 class="sub-section-header">Watercolor Style</h3>
    </div>
    <div class="style">
      <img src="/assets/images/abstract-style.jpg" alt="" />
      <h3 class="sub-section-header">Abstract Style</h3>
    </div>
    <div class="style">
      <img src="/assets/images/newspaper-style.jpg" alt="" />
      <h3 class="sub-section-header">Newspaper Style</h3>
    </div>
  </div>
</div>
