<h2 class="section-header">How it works</h2>
<div class="container">
  <div id="step-one" class="step">
    <img src="/assets/images/hiw-woman-phone.svg" alt="" />
    <h3 class="sub-section-header">some text</h3>
    <p>some underline text hello</p>
  </div>

  <div id="step-two" class="step">
    <img src="/assets/images/hiw-woman-dog.svg" alt="" />
    <h3 class="sub-section-header">some text</h3>
    <p>some underline text hello</p>
  </div>

  <div id="step-three" class="step">
    <img src="/assets/images/hiw-man-painting.svg" alt="" />
    <h3 class="sub-section-header">some text</h3>
    <p>some underline text hello</p>
  </div>
</div>
